n8n/workflows/QQBot - Tool - GameDeals.json
{
  "id": "xdE6g6bR5yilOeNk",
  "name": "QQBot - Tool - GameDeals",
  "description": null,
  "active": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://api.isthereanydeal.com/games/search/v1",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"key\": \"REDACTED_ITAD_API_KEY\",\n  \"title\": \"{{ $json.name }}\",\n  \"results\": 3\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        448
      ],
      "id": "f44eff38-78cb-4dcc-87f6-dd13aec617f8",
      "name": "API Search"
    },
    {
      "parameters": {
        "description": "A tool that performs a real-time web search to find accurate and up-to-date information when the AI's own knowledge is insufficient.",
        "workflowId": {
          "__rl": true,
          "value": "dVlnmwFzJa25Ky45",
          "mode": "list",
          "cachedResultName": "QQ - Sub - Tool - WebSearch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `The search string to look up on the web. The content of this query will be used directly as the search keywords.`, 'string') }}"
          },
          "matchingColumns": [
            "group_id"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1152,
        640
      ],
      "id": "cafd908b-9b2b-4bfc-a79a-d494f854ce6c",
      "name": "WebSearch"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1008,
        880
      ],
      "id": "7ccd1167-9c40-4f77-a317-ac75a019cc68",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1776,
        448
      ],
      "id": "1b58ec2a-325b-4ece-933b-145f18ff1383",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1776,
        288
      ],
      "id": "f328e9d4-bd5c-4557-bc36-d26a624f55ec",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2192,
        368
      ],
      "id": "535379f8-0702-463f-8767-cb318aa26a45",
      "name": "Merge2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "games"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        352,
        288
      ],
      "id": "f16afd41-3181-4ae7-b08e-142a2b3a0098",
      "name": "ToolTrigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=games",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        608,
        288
      ],
      "id": "bba654c8-eb1e-4c97-8012-dfa71f87e5d8",
      "name": "SplitGameList"
    },
    {
      "parameters": {
        "jsCode": "let arr = $input.first().json.games.split(',').map(s => s.trim());\nreturn {\n  json: {\n    games: arr\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        288
      ],
      "id": "669eb1b0-a6b6-4554-857d-b9f752d17742",
      "name": "SplitToArray"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06dd11ec-dbba-48c6-ac9d-abd3113d7761",
              "leftValue": "={{ $json.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        288
      ],
      "id": "b13bc93d-fc93-4b8c-9d1b-edc480aba015",
      "name": "CheckFound"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.isthereanydeal.com/games/prices/v3",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\n  \"key\": \"REDACTED_ITAD_API_KEY\",\n  \"country\": \"CN\",\n  \"shops\": 61\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\"{{ $json.game.id }}\"] ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        288
      ],
      "id": "87b600a5-a45d-412c-8e48-2141365c67dd",
      "name": "FetchDealInfo"
    },
    {
      "parameters": {
        "jsCode": "return {result: JSON.stringify($input.all())};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        368
      ],
      "id": "5f6f3de3-e6f4-4d1a-8a2b-d4b752633851",
      "name": "MinifyResults"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('SplitGameList').item.json.games }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI agent specialized in resolving fuzzy or partial video game names (in English or Chinese) into their exact official Steam titles in English. \n\nInstructions:\n- The user message will usually contain only a fuzzy game name string.\n- First, try to resolve the name using your own knowledge.\n- If uncertain, use the WebSearch tool to confirm or refine the result, but only once per user query.\n- When using the WebSearch tool, construct a full query string that includes the user’s original input plus clarifying keywords such as “Steam official English title” or “Steam game full name” to maximize accuracy. Do not translate or alter the user’s input before including it in the query.\n- Always normalize the final result to the official Steam English title, since this is required for IsThereAnyDeal API queries.\n- If multiple matches exist, choose the most widely recognized or popular title.\n- If no reliable match is found, mark it as not found.\n\nOutput format (strict JSON only):\n{\n  \"found\": true/false,\n  \"game_title\": \"Exact official Steam English title or empty string if not found\"\n}\n\nRules:\n- Do not include any text outside the JSON.\n- Do not return Chinese or localized names, only the official Steam English title.",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1056,
        448
      ],
      "id": "03d3363d-d09e-43e0-a413-f847dfc2a364",
      "name": "CorrectTitle"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb9f3e5e-b0ef-4b8c-88f3-d4c813e00bb8",
              "leftValue": "={{ $json.output.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        448
      ],
      "id": "5dc9253c-f886-4583-96ed-6764282dfc0e",
      "name": "CheckCorrection"
    },
    {
      "parameters": {
        "url": "https://api.isthereanydeal.com/games/lookup/v1",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"key\": \"REDACTED_ITAD_API_KEY\",\n  \"title\": \"{{ $json.output.game_title }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        368
      ],
      "id": "7b6ad1b5-b4a6-4467-b732-2bd882962dcf",
      "name": "RetryLookup"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06dd11ec-dbba-48c6-ac9d-abd3113d7761",
              "leftValue": "={{ $json.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1616,
        368
      ],
      "id": "b1277b41-1490-457b-af68-511fd94a587e",
      "name": "CheckFound1"
    },
    {
      "parameters": {
        "url": "https://api.isthereanydeal.com/games/lookup/v1",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"key\": \"REDACTED_ITAD_API_KEY\",\n  \"title\": \"{{ $json.games }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        288
      ],
      "id": "e4915ca8-54d2-4081-a36f-9f28b4754802",
      "name": "InitLookup"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  title: $('SplitGameList').item.json.games,\n  found: false\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        448
      ],
      "id": "2b9144a5-a270-46e8-a892-11db43c124d2",
      "name": "FormatError"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 假设输入是单个游戏的 JSON 对象 ($input.item.json)\nconst game = $input.item.json;\n\n// 获取游戏名（从前一个 Split Out 节点）\nconst title = $('SplitGameList').item.json.games; // 假设 title 字段包含游戏名\n\n// 如果没有 deals，直接返回一个标记对象\nif (!game.deals || game.deals.length === 0) {\n  $input.item.json = {\n    title,\n    error: \"No deals found\"\n  };\n  return $input.item;\n}\n\n// 取第一个 deal（可改为按价格排序）\nconst bestDeal = game.deals[0];\n\n// 安全获取 currency 和历史最低价\nconst currency = game?.historyLow?.all?.currency \n              || bestDeal?.price?.currency \n              || \"N/A\";\nconst histLowAll = game?.historyLow?.all?.amount ?? null;\n\nconst currentPrice = bestDeal?.price?.amount ?? null;\nconst originalPrice = bestDeal?.regular?.amount ?? null;\nconst discount = bestDeal?.cut ?? 0;\nconst onSale = discount > 0;\nconst isHistLow = histLowAll !== null && currentPrice !== null && currentPrice === histLowAll;\n\n// 格式化价格为字符串\nconst formatPrice = (amount, currency) => {\n  if (amount === null || amount === undefined) return \"N/A\";\n  return `${amount.toFixed(2)} ${currency}`;\n};\n\n// 写入简化 JSON\n$input.item.json = {\n  title,                         \n  onSale,                       \n  isHistLow,                    \n  currentPrice: formatPrice(currentPrice, currency),  \n  discount: onSale ? discount : 0,                   \n  originalPrice: formatPrice(originalPrice, currency), \n  histLow: histLowAll !== null ? formatPrice(histLowAll, currency) : \"N/A\"\n};\n\n// 返回处理后的项\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        288
      ],
      "id": "5aea99b7-de33-44ee-aad9-8e3089393cb8",
      "name": "FormatResult"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"found\": true,\n  \"game_title\": \"The Legend of Zelda: Breath of the Wild\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1280,
        640
      ],
      "id": "a982d9a5-ccb3-4295-bdd2-677e2a9b7f9e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen-plus",
          "mode": "list",
          "cachedResultName": "qwen-plus"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        640
      ],
      "id": "67beed84-fba9-4b48-a69f-b1f6f5f3d72a",
      "name": "Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "r7QNMzkK8NA1SlwA",
          "name": "Qwen"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.isthereanydeal.com/service/shops/v1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        448
      ],
      "id": "52268c8e-4555-41eb-afa9-9f7775cab75b",
      "name": "API GetShops"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        352,
        448
      ],
      "id": "7013c44d-172c-4bd7-9fc9-3080ac8d6f50",
      "name": "TestTriger"
    }
  ],
  "connections": {
    "WebSearch": {
      "ai_tool": [
        [
          {
            "node": "CorrectTitle",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "FetchDealInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "FormatError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "MinifyResults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ToolTrigger": {
      "main": [
        [
          {
            "node": "SplitToArray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitGameList": {
      "main": [
        [
          {
            "node": "InitLookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitToArray": {
      "main": [
        [
          {
            "node": "SplitGameList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckFound": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CorrectTitle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchDealInfo": {
      "main": [
        [
          {
            "node": "FormatResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CorrectTitle": {
      "main": [
        [
          {
            "node": "CheckCorrection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCorrection": {
      "main": [
        [
          {
            "node": "RetryLookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RetryLookup": {
      "main": [
        [
          {
            "node": "CheckFound1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckFound1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InitLookup": {
      "main": [
        [
          {
            "node": "CheckFound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatError": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FormatResult": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "CorrectTitle",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CorrectTitle",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "TestTriger": {
      "main": [
        [
          {
            "node": "InitLookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": null,
  "pinData": {
    "ToolTrigger": [
      {
        "json": {
          "games": "blue prince"
        }
      }
    ],
    "API GetShops": [
      {
        "json": {
          "id": 19,
          "title": "2game",
          "deals": 711,
          "games": 4526,
          "update": "2025-09-10T16:11:09+02:00"
        }
      },
      {
        "json": {
          "id": 2,
          "title": "AllYouPlay",
          "deals": 313,
          "games": 5582,
          "update": "2025-09-10T16:51:26+02:00"
        }
      },
      {
        "json": {
          "id": 4,
          "title": "Blizzard",
          "deals": 3,
          "games": 667,
          "update": "2025-09-10T16:47:48+02:00"
        }
      },
      {
        "json": {
          "id": 13,
          "title": "DLGamer",
          "deals": 1997,
          "games": 3369,
          "update": "2025-09-10T04:31:02+02:00"
        }
      },
      {
        "json": {
          "id": 15,
          "title": "Dreamgame",
          "deals": 33,
          "games": 941,
          "update": "2025-09-10T17:12:23+02:00"
        }
      },
      {
        "json": {
          "id": 52,
          "title": "EA Store",
          "deals": 0,
          "games": 578,
          "update": "2025-09-10T17:32:03+02:00"
        }
      },
      {
        "json": {
          "id": 16,
          "title": "Epic Game Store",
          "deals": 2790,
          "games": 12180,
          "update": "2025-09-10T16:37:18+02:00"
        }
      },
      {
        "json": {
          "id": 6,
          "title": "Fanatical",
          "deals": 8387,
          "games": 14517,
          "update": "2025-09-10T17:30:33+02:00"
        }
      },
      {
        "json": {
          "id": 17,
          "title": "FireFlower",
          "deals": 9,
          "games": 244,
          "update": "2025-09-09T13:11:59+02:00"
        }
      },
      {
        "json": {
          "id": 20,
          "title": "GameBillet",
          "deals": 6337,
          "games": 6875,
          "update": "2025-09-10T17:30:44+02:00"
        }
      },
      {
        "json": {
          "id": 68,
          "title": "Gamer Thor",
          "deals": 1029,
          "games": 2213,
          "update": "2025-09-10T17:31:17+02:00"
        }
      },
      {
        "json": {
          "id": 24,
          "title": "GamersGate",
          "deals": 1426,
          "games": 9469,
          "update": "2025-09-10T17:30:51+02:00"
        }
      },
      {
        "json": {
          "id": 25,
          "title": "Gamesload",
          "deals": 1132,
          "games": 2319,
          "update": "2025-09-09T13:25:21+02:00"
        }
      },
      {
        "json": {
          "id": 27,
          "title": "GamesPlanet DE",
          "deals": 6443,
          "games": 7240,
          "update": "2025-09-10T16:31:46+02:00"
        }
      },
      {
        "json": {
          "id": 28,
          "title": "GamesPlanet FR",
          "deals": 6459,
          "games": 7264,
          "update": "2025-09-10T16:31:01+02:00"
        }
      },
      {
        "json": {
          "id": 26,
          "title": "GamesPlanet UK",
          "deals": 6417,
          "games": 7255,
          "update": "2025-09-10T16:10:33+02:00"
        }
      },
      {
        "json": {
          "id": 29,
          "title": "GamesPlanet US",
          "deals": 6865,
          "games": 7705,
          "update": "2025-09-10T16:10:39+02:00"
        }
      },
      {
        "json": {
          "id": 35,
          "title": "GOG",
          "deals": 7754,
          "games": 10915,
          "update": "2025-09-10T17:04:51+02:00"
        }
      },
      {
        "json": {
          "id": 36,
          "title": "GreenManGaming",
          "deals": 1521,
          "games": 11695,
          "update": "2025-09-10T16:30:59+02:00"
        }
      },
      {
        "json": {
          "id": 37,
          "title": "Humble Store",
          "deals": 856,
          "games": 12735,
          "update": "2025-09-10T17:30:55+02:00"
        }
      },
      {
        "json": {
          "id": 42,
          "title": "IndieGala Store",
          "deals": 443,
          "games": 8523,
          "update": "2025-09-10T17:30:37+02:00"
        }
      },
      {
        "json": {
          "id": 65,
          "title": "JoyBuggy",
          "deals": 2944,
          "games": 3378,
          "update": "2025-09-10T17:12:41+02:00"
        }
      },
      {
        "json": {
          "id": 47,
          "title": "MacGameStore",
          "deals": 2530,
          "games": 4692,
          "update": "2025-09-10T16:51:18+02:00"
        }
      },
      {
        "json": {
          "id": 48,
          "title": "Microsoft Store",
          "deals": 112,
          "games": 2593,
          "update": "2025-09-10T16:19:35+02:00"
        }
      },
      {
        "json": {
          "id": 49,
          "title": "Newegg",
          "deals": 389,
          "games": 4523,
          "update": "2025-09-10T14:35:58+02:00"
        }
      },
      {
        "json": {
          "id": 66,
          "title": "Noctre",
          "deals": 69,
          "games": 3501,
          "update": "2025-09-10T17:12:14+02:00"
        }
      },
      {
        "json": {
          "id": 50,
          "title": "Nuuvem",
          "deals": 1508,
          "games": 3252,
          "update": "2025-09-10T17:11:37+02:00"
        }
      },
      {
        "json": {
          "id": 73,
          "title": "PlanetPlay",
          "deals": 38,
          "games": 3212,
          "update": "2025-09-10T08:15:41+02:00"
        }
      },
      {
        "json": {
          "id": 70,
          "title": "Playsum",
          "deals": 50,
          "games": 1937,
          "update": "2025-09-10T16:34:15+02:00"
        }
      },
      {
        "json": {
          "id": 61,
          "title": "Steam",
          "deals": 17037,
          "games": 247457,
          "update": "2025-09-10T17:33:31+02:00"
        }
      },
      {
        "json": {
          "id": 62,
          "title": "Ubisoft Store",
          "deals": 3,
          "games": 695,
          "update": "2025-09-10T17:20:59+02:00"
        }
      },
      {
        "json": {
          "id": 64,
          "title": "WinGameStore",
          "deals": 2435,
          "games": 5896,
          "update": "2025-09-10T16:51:38+02:00"
        }
      },
      {
        "json": {
          "id": 72,
          "title": "ZOOM Platform",
          "deals": 714,
          "games": 836,
          "update": "2025-09-10T12:11:54+02:00"
        }
      }
    ],
    "TestTriger": [
      {
        "json": {
          "games": "Blue Prince"
        }
      },
      {
        "json": {
          "games": "borderlands 4"
        }
      }
    ]
  },
  "versionId": "d13cc79d-98ac-4b29-885a-027fbf19467f",
  "tags": [
    {
      "updatedAt": "2025-09-02T03:07:39.232Z",
      "createdAt": "2025-09-02T03:07:39.232Z",
      "id": "QPm6Jx9oO3RUCGLx",
      "name": "ChatBot"
    }
  ]
}